options zfs zfs_arc_max={{ zfs_arc_max_gb * (1024 ** 3) }} l2arc_noprefetch={{ zfs_l2arc_noprefetch }} l2arc_write_max={{ zfs_l2arc_write_max_mb * (1024 ** 2) }} l2arc_write_boost={{ zfs_l2arc_write_boost_mb * (1024 ** 2) }}
